reusable components/force-app/main/default/flows/Deep_Clone_Lead_or_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deep_Clone_Lead_or_Contact</name>
        <label>Deep Clone Lead or Contact</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>Select_Object</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedObjectApiName</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>&lt;span style=&quot;color: rgb(206, 145, 120);&quot;&gt;Lead&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Object</name>
        <label>Is Object</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Data</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>ContactDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <label>Contact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectedLead</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedLeadOption</name>
        <collectionReference>Get_Lead_Data</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectLead</name>
        <collectionReference>LeadData</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deep Clone Lead or Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deep Clone Lead or Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Data</name>
        <label>Get Lead Data</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deep_Clone_Lead_or_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Lead_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Lead_or_Contact</name>
        <label>Clone Lead or Contact</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Object</targetReference>
        </connector>
        <fields>
            <name>Select_Object</name>
            <choiceReferences>Lead</choiceReferences>
            <choiceReferences>Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Selection</name>
        <label>Record Selection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <fields>
            <name>Select_Lead_Record</name>
            <choiceReferences>SelectedLeadOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Lead Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Lead_or_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LeadData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedObjectApiNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedParentFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedWhereClauses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
